kbody {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fdff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.root{
  position: relative;
}

.main-container{
  text-align: center;
  margin: auto;

  .container{
    position: relative;
  }

  .labels{
    position: absolute;
    display: block;
    top: 18px;
    left: 92%;
    z-index: 100;

    button{
      border:none;
      position: relative;
      color: #fff;
      height: 30px;
      margin-bottom: 5px;
      display: block;
      width: 90px;

      &.is-selected{
        width: 125px;
        -webkit-transition: width 0.5s ease-in-out;
        -moz-transition: width 0.5s ease-in-out;
        -o-transition: width 0.5s ease-in-out;
        transition: width 0.5s ease-in-out;
      }

      &:after{
        content: '';
        position: absolute;
        top: 0;
        /* left: 0; */
        right: -25px;
        /* margin: 0 auto; */
        width: 0;
        height: 0;
        border-top: solid 15px transparent !important;
        border-left: solid 25px;
        border-bottom: solid 15px transparent !important;
      }
    }
    .blue{
      background-color: #134481;
      &::after{
        border-color: #134481;
      }
    }
    .orange{
      background-color: orangered;
      &::after{
        border-color: orangered;
      }
    }
    .green{
      background-color: #31b243;
      &::after{
        border-color: #31b243;
      }
    }
    .yellow{
      background-color: #bccf24;
      &::after{
        border-color: #bccf24;
      }
    }
    .pink{
      background-color: #d82566;
      &::after{
        border-color: #d82566;
      }
    }
  }
  
  .content{
    margin-top: -1px;
    padding: 20px;
  }
}
.title{
  display: table;
  margin: auto;
  h1{
    display: table-cell;
    vertical-align: bottom;
  }
  img{
    height: 100px
  }
}
.weight-chart{
  background-color: #fff;
  border-radius: 10px
}
.capa{
  img{
    border-radius: 50%;
    background-color: #fff;
    height: 200px;
    width: 200px;
    object-fit: contain
  }
}
.main-container .carteirinha{
  width: calc(95% - 90px );
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background-color: #ade9ff;  
  border-radius: 29px;
}
.grafico{
  width: calc(100% - 80px);
  margin: auto;
}

.main-home {
  height: 100%;
  min-height: 100vh;
  display: inline-flex;
  background-color: #ade9ff;  
  p,h1,span{
    font-family: 'Courier New', Courier, monospace;
  }
  p {
    text-align: justify;
  }
}

.home-texto{
  margin: auto;
  position: relative;
  width: 45%;
}

.home-left{
  width: 66%;
  display: inline-flex;
  position: relative;

  img{
    margin:auto;
    height: 350px;
  }
  
}
.home-right{

  width: 33%;
  padding: 3%;
  display: inline-flex;
  
  span{
    font-family: 'Courier New', Courier, monospace;
  }
}
.botoes-login{
  margin: auto;
  border-radius: 5px;
}
.botoes-login #titulo{
  display: inherit;
  text-align: center;
}
.agenda{
  min-height: 400px;
  background-color: #fff;
  .rbc-calendar{
    min-height: 70vh;
  }
}
/*STYLE FOR SCREEN W/ LESS THEN 560PX*/
@media screen and (max-width: 560px) {
  .home-left, .home-right{
    width: 100%;
    display: block;
  }
  .main-home{
    display: block;
    text-align: center;
  }
  .home-left{
    img{
      height: 150px;
      margin-top: 20px;
    }
  }
  .home-texto {
    width: 100%;
    margin-top: 25px;
    padding: 0 20px;
  }

  .main-container {

    padding: 0;

    .carteirinha{
      width: 100%;
      padding: 0;
      border-radius: 0;
      min-height: calc(100vh - 100px);
    }
    .labels {
      display: inline-block;
      position: inherit;
      width: 100%;
      left: 0;
      top:0;

      button{
        width: 100%;
        margin-bottom: 0;

        &:after{
          content: none;
        }
      }
    }
  }
}